{% extends "base.html" %}
{% load static %}
{% block content %}

<body class="body">
    
    <div class="star pad">
        <h1 class="course5 star2">Placement Cell</h1>
        <a target="_blank" href="https://maps.app.goo.gl/zYFdkE9hRxEUvqdF6"><img width="30%" src="{% static 'assets/5star.png' %}" alt=""></a>
        <p>Google 4.9 * Rated Institute</p>
    </div>

    <div class="star pad">
        <h1>1000's of Students are getting placed every year from SCOPE INDIA</h1>

    </div>

</body>

{% endblock %}