{% extends "base.html" %}
{% load static %}
{% block content %}

<body class="body3">
    <form method="post" class="login1">
        {% csrf_token %}

        <!-- {{ form.as_p }} -->

            <div style="font-size: 40px;">
                <h1 style="color: rgb(255, 255, 255);padding-bottom: 20px;">Reset Password </h1>

                <input type="text" class="login2 login4" name="username"  placeholder="Username" required value="{{username}}"><br>

                <input type="email" class="login2 login4" name="email"  placeholder="Email" required required value="{{email}}"><br>
                
                <input type="Password" class="login2 login4" name="password" placeholder="Password" required required value="{{password}}"><br>

                <input type="Password" class="login2 login4" name="confirm_password" placeholder="Confirm_Password" required required value="{{password}}"><br>


                {% if otp_sends %}
                    <p style="color: rgb(94, 255, 0);font-size: 19px;">We send you an OTP.Enter it below for reset PASSWORD:</p>
                    <input type="text" class="login2 login4" placeholder="Enter OTP Here" name="otp"  style="margin-bottom: 20px;" pattern="[0-9]{6}" required>
                {% endif %}

                {% if not otp_sends   %}
                    <a title="Click Here To refresh" class="refresh1" href="{% url 'app:refresh' %}">Refresh OTP</a>
                {% endif %}

                <div style="text-align: center;">
                    <button class="login3" type="submit">Log in</button>
                </div>


            </div>

            </form>
</body>

{% endblock %}