{% extends "base.html" %}
{% load static %}

{% block content %}

<body class="home2">

    <div class="home3">
        <img class="home4" src="{% static 'assets/scope-india-logo-home-page.png' %}" alt="">
    </div>

    <div title="click The Image To Get New Image" onclick="fun()" id="image_container" style="width: 100%;text-align: center;">
        
        <!-- <img class="home1" src="{% static 'assets/data-science&ai-course-scopeindia.jpg' %}" alt=""> -->
        
   </div>



   <div class="star home5" >

   
    <h1 class="home6" style="font-size: 55px;">
        SCOPE INDIA, your career partner!
    </h1>
    <h2 class="home6">
        One of India's best Training destinations for Software, Networking, and Cloud Computing courses with 17 years of Industrial experience.
    </h2>

    
    <p class="home8">Software, Networking, and Cloud Professional Education Centre in Kerala and Tamil Nadu from 
            <span class="about5">Suffix E Solutions</span> 
    with  WORKING PROFESSIONALS oriented on-the-job TRAINING model. SCOPE INDIA provides courses for
            <span class="about5"> Software Programming </span> in Python (Data Science | Artificial Intelligence | Machine Learning | Deep Learning, Data Analytics), Java, PHP, .Net, MERN,
            <span class="about5"> Software Testing </span> Manual and Automation, 
            <span class="about5"> Cloud Computing </span> (AWS | Azure), 
            <span class="about5"> Server Administration </span> 
    (MicroSoft MCSE | Linux RHCE), Networking (CCNA), 
            <span class="about5"> DevOps, Mobile App Development </span> 
    in Flutter, and 
            <span class="about5"> Digital Marketing.</span>
    A Training with a 100% Trusted Job-Based Internship Model. SCOPE INDIA has a Strong Placement Cell that provides jobs to thousands of students annually. We assure you, you won't regret it after training from SCOPE INDIA! <br><br>

    This is how SCOPE INDIA can support both newbies and those experienced in the industry to upgrade their skills.</p>




    <a target="_blank" href="https://maps.app.goo.gl/zYFdkE9hRxEUvqdF6"><img id="star" src="{% static 'assets/5star.png' %}" alt=""></a>

    <p>Google 4.9 * Rated Institute</p>

    <div class="about1" >   <a class="about2" href="{% url 'app:dashboard' %}">Recent Placements</a> </div>
    <div class="about1" >    <a class="about2"  href="{% url 'app:course' %}">Cources</a>         </div>
    <div class="about1" >   <a class="about2"  href="{% url 'app:register' %}">Register Now</a>     </div>
    <div class="about1" >   <a class="about2"  href="https://wa.me/918590471041" target="_blank">Chat On Whatsapp</a>     </div>

</div>

<div class="home9">
    
    <a class="home10" href="{% url 'app:course' %}">
        <img src="{% static 'assets/snowpark-home-icon1.png' %}" alt="">
        <h1>Training</h1>
        <p>You are trained under Suffix E Solutions working professionals, on-the-job training model.</p>
    </a>
    
    <a class="home10" href="{% url 'app:course' %}">
        <img src="{% static 'assets/snowpark-home-icon2.png' %}" alt="">
        <h1>Internship</h1>
        <p>After course completion, you will be proceeded to live projects with a 6 months experience certificate.</p>
    </a>

    <a class="home10" href="{% url 'app:course' %}">
        <img src="{% static 'assets/snowpark-home-icon3.png' %}" alt="">
        <h1>Grooming</h1>
        <p>CV Preparation, Interview Preparation, and Personality Development.</p>
    </a>

    <a class="home10" href="{% url 'app:course' %}">
        <img src="{% static 'assets/snowpark-home-icon4.png' %}" alt="">
        <h1>Placement</h1>
        <p>Gives 100% FREE placement support to all our fellow techies through SCOPE INDIA's Placement Cell.</p>
    </a>
</div>

<div class="about3 home7">
      
    <div class="" style="padding-top: 70px;">
    
      <h1 class="about4">1000+</h1>
      <h5>STUDENTS ARE <br>TRAINED EVERY YEAR</h5>

    </div>

    <div class="" style="padding: 0 200px;">
    
      <h1 class="about4">30+</h1>
      <h5>COMPUTER COURSES</h5>
    
    </div>

    <div class="" style="padding-top: 70px;">
    
      <h1 class="about4">95%</h1>
      <h5>STUDENTS ARE GETTING <br>PLACED EVERY YEAR</h5>
    
    </div>

</div>

    <script>
        var array = [
            '<img class="home1" src="{% static 'assets/AI&ML-course-scopeindia.jpg' %}" alt="">',
            '<img class="home1" src="{% static 'assets/data-science&ai-course-scopeindia.jpg' %}" alt="">',
            '<img class="home1" src="{% static 'assets/Devops-training-scopeindia.jpg' %}" alt="">',
            '<img class="home1" src="{% static 'assets/digital-marketing-course-scopeindia.jpg' %}" alt="">',
            '<img class="home1" src="{% static 'assets/scope-india-aws-certification-course-(1).jpg' %}" alt="">',
            '<img class="home1" src="{% static 'assets/scope-india-azure-certification-course.jpg' %}" alt="">',
            '<img class="home1" src="{% static 'assets/scope-india-digital-marketing-course.jpg' %}" alt="">',
            '<img class="home1" src="{% static 'assets/scope-india-dotnet-core-full-stack-course.jpg' %}" alt="">',
            '<img class="home1" src="{% static 'assets/scope-india-flutter-fullstack-course.jpg' %}" alt="">',
            '<img class="home1" src="{% static 'assets/scope-india-java-full-stack-course (1).jpg' %}" alt="">',
            '<img class="home1" src="{% static 'assets/scope-india-mean-mern-stack-course.jpg' %}" alt="">',
            '<img class="home1" src="{% static 'assets/scope-india-network-server-administration-course (1).jpg' %}" alt="">',
            '<img class="home1" src="{% static 'assets/scope-india-php-full-stack-course (1).jpg' %}" alt="">',
            '<img class="home1" src="{% static 'assets/scope-india-python-full-stack-course (1).jpg' %}" alt="">',
            '<img class="home1" src="{% static 'assets/scope-india-software-testing-manual-automation-course.jpg' %}" alt="">'
        ];

        var drag=-1;

        function fun(){
            var img = document.getElementById("image_container");

            drag ++;

            if(drag >= array.length){
                drag = 0;
            }
            img.innerHTML=array[drag]
        }

        window.onload = function(){
            fun();

            setInterval(fun, 10000);
        }
        
    </script>
</body>
{% endblock %}
