{% extends "base.html" %}

{% block content %}


<body class="body">
    <div id="span">
        <h1>Registration</h1>
        <h4 style="color: rgb(255, 255, 0);">It's just a matter of 80 days to an IT job!</h4>
    </div>
    <div>
        <form method="post" class="reg">
            {% csrf_token %}
            <div  class="gol1 ">
                <div class="reg11">
                    <label class=" bold">Full Name (required)</label><br>
                    <input class="reg00" type="text" name="name" placeholder="Enter Your Full Name" required>
                </div>
            
                <div class="reg11">
                    <label class=" bold" >Date of Birth (required)</label><br>
                    <input class="reg00" type="date" name="dob" required>
                </div>
            
                <div class="reg11">
                    <label class=" bold">Gender (required)</label><br><br>
                
                    <input type="radio" name="gender" value="male" id="male">
                    <label class="text1">Male</label>
                
                    <input type="radio" name="gender" value="female" id="female">
                    <label class="text1" >Female</label>
                
                    <input type="radio" name="gender" value="other">
                    <label class="text1" >Other</label>
                </div>
            
                <div class="reg11">
                    <label class=" bold">Educational Qualification</label><br>
                    <input type="text" class="reg00"  name="Qualification" placeholder="Enter Your Educational Qualification">
                </div>
            
                <div class="reg11">
                    <label class=" bold" >Choose your course (required)</label><br>
                    <select class="reg00"  name="course" required >
                        <option class="line" >Choose Your Course!</option>
                    
                        <optgroup label="Software Programming Course" class="line">
                        
                            <option value="PHP Fullstack">PHP Fullstack</option>
                            <option value="Python Fullstack">PYTHON Fullstack</option>
                            <option value="">JAVA Fullstack</option>
                            <option value="">C#.NET Core 7 Fullstack</option>
                            <option value="">MEAN Fullstack</option>
                            <option value="">MERN Fullstack</option>
                            <option value="">DATA SCIENCE & AI (Python Guru)</option>
                            <option value="">PYTHON MASTERY (Python / Django / MYSQL)</option>
                            <option value="">GOOGLE FLUTTER MOBILE APP DEVELOPMENT (ios / Android)</option>
                            <option value="">UI/UX Designing</option>
                        
                        </optgroup>
                    
                        <optgroup label="SEO/SEM/SMM/Cources" class="line">
                        
                            <option value="">Digital Marketing Master Program</option>
                        
                        </optgroup>
                    
                        <optgroup label="Software Testing Courses" class="line">
                        
                            <option value="">Software Testing Advanced (Manual / Automation)</option>
                            <option value="">Software Testing Manual (ISTQB)</option>
                            <option value="">ISTQB CERTIFICATION (EXAM Reg)</option>
                            <option value="">Selenium Testings & Cuccumber / Appium Mobile / QTP / Landrunner / Jmeter / Jira</option>
                        
                        </optgroup>
                    
                        <optgroup label="Computer Networking & Server Courses" class="line">
                        
                            <option value="">Computer Networking (CCNA)</option>
                            <option value="">Server Admin (MCSE)</option>
                            <option value="">Server Admin (RHCE)</option>
                            <option value="">Networking & Server Admin (CCNA / MCSE / Hardware )</option>
                            <option value="">Networking & Server Admin (CCNA / RHCE / Hardware)</option>
                            <option value="">Networking & Server Admin (CCNA / MCSE / RHCE / Hardware)</option>
                            <option value="">Security Surveillance & Networking Internship(CCNA / CCTV / Hardware)</option>
                        
                        </optgroup>
                            
                        <optgroup label="Cloud Computing Cources" class="line" >
                        
                            <option value="">Cloud Admin (AWS / MS AZURE)</option>
                            <option value="">Cloud & Networking Admin (CCNA / AWS / Hardware)</option>
                            <option value="">Cloud & Networking Admin (CCNA / MS ASURE / Hardware)</option>
                            <option value="">Cloud & Networking Admin (CCNA / AWS)</option>
                            <option value="">Cloud & Networking Admin (CCNA / MS AZURE)</option>
                            <option value="">Cloud & Server Admin (MCSE / AWS / Hardware)</option>
                            <option value="">Cloud & Server Admin (MCSE / MS AZURE / Hardware)</option>
                            <option value="">Cloud & Server Admin (RHCE / AWS / Hardware)</option>
                            <option value="">Cloud & Server Admin (RHCE / MS AZURE / Hardware)</option>
                            <option value="">Cloud,Networking,Server Admin (CCNA / AWS / AZURE / MCSE / RHCE /Hardware)</option>
                            <option value="">Devops Mastery (All Together)</option>
                            <option value="">Devops-Selective</option>
                        
                        </optgroup>
                    
                        <optgroup label="Others" class="line">
                        
                            <option value="">Academic Project</option>
                            <option value="">Ms Office (World / Excel / Power Point / Out Look)</option>
                            <option value="">Data Analytics</option>
                            <option value="">Advanced Ms Excel</option>
                            <option value="">Graphic Designing (Photoshop)</option>
                            <option value="">Graphic Designing  (Photoshop / Illustrator)</option>
                        
                            <option value="">None Of The Above , Will Discuss Directly</option>
                        
                        </optgroup>
                    </select>
            </div>

            <div class="reg11">
                <label class=" bold">Mobile Number (required)</label><br>
                <input class="reg00"  type="number" name="mobile" placeholder="Enter Your Mobile_number" required>
            </div>

            <div class="reg11">
                <label class=" bold">Email (required)</label><br>
                <input class="reg00"  type="email" name="email" placeholder="Enter your Email" required>
            </div>

            <div class="reg11">
                <label class=" bold">Gaurdian's Mobile</label><br>
                <input class="reg00"  type="tel" name="Gaurdianmobile" placeholder="Enter Your Gaurdian's Mobile Number">
            </div>

            <div class="reg11">
                <label class=" bold">Training Mode (required)</label><br><br>

                <input type="radio" name="Mode" value="Live online">
                <label class="text1">Live online</label>

                <input type="radio" name="Mode" value="ofline">
                <label class="text1">Classroom-ofline</label>
            </div>

            <div class="reg11">
                <label class=" bold">SCOPE INDIA Location (required)</label><br><br>

                <input type="radio" name="location">
                <label class="text1">Technopark TVM</label><br>

                <input type="radio" name="location" >
                <label class="text1"> Thampanoor TVM</label>

                <input type="radio" name="location" >
                <label class="text1"> Kochi</label><br>

                <input type="radio" name="location" >
                <label class="text1">Nagercoil</label>

                <input type="radio" name="location" >
                <label class="text1"> Online</label>
            </div>
        </div>
        <div class="gol2">
            <div class="reg11">
                <label class=" bold">Guardian's Name</label><br>
                <input class="reg00"  type="text" name="gaurdianname" placeholder="Enter Your Gaurdian's Name">
            </div>

            <div class="reg11">
                <label class=" bold">Guardian's Occupation</label><br>
                <input class="reg00"  type="text" name="occupation" placeholder="Enter Your Gaurdian's Occupation">
            </div>

            <div class="reg11">
                <label class=" bold">Preferred Training Timings (required)</label><br><br>

                <input type="checkbox" name="time">
                <label class="text1">Between 8am - 10am</label><br>

                <input type="checkbox" name="time">
                <label class="text1">Between 9am - 1pm</label><br>

                <input type="checkbox" name="time">
                <label class="text1"> Between 1pm - 6pm</label><br>

                <input type="checkbox" name="time">
                <label class="text1">Between 6pm - 10pm</label>
            </div>

            <div class="reg11">
                <label class=" bold">Address</label><br>
                <input class="reg00"  type="text" name="adress" placeholder="Enter Your Adreess">
            </div>

            <div class="reg11">
                <label class=" bold">Country</label><br>
                <input class="reg00"  type="text" name="country" placeholder="Enter Your Country">
            </div>

            <div class="reg11">
                <label class=" bold">State</label><br>
                <input class="reg00"  type="text" name="state" placeholder="Enter Your State">
            </div>

            <div class="reg11">
                <label class=" bold">City</label><br>
                <input class="reg00"  type="text" name="city" placeholder="Enter Your City">
            </div>

            <div class="reg11">
                <label class=" bold">PIN/Zip Code</label><br>
                <input class="reg00"  type="text" name="pin" placeholder="Enter Your PIN/Zip Code">
            </div>

            <div class="reg11">
                <label class=" bold">Hobbies</label><br>
                <input type="checkbox" name="hobbies">
                <label class="text1">Music</label><br>

                <input type="checkbox" name="hobbies">
                <label class="text1">Sports</label><br>

                <input type="checkbox" name="hobbies">
                <label class="text1">Reading Books</label><br>

                <input type="checkbox" name="hobbies">
                <label class="text1">Extracurricular activities</label>

            </div>

            <div class="reg11">
                <label class=" bold">Upload Avatar</label><br>
                <input class="reg00"  type="file" name="avatar" placeholder="Enter Your Upload Avatar">
            </div>


            
        </div> 

        <div id="btn1"> <button type="submit" class="btn1">Complete Registration</button></div>
        
        <!-- <a href=""><button class="btn1">Complete Registration</button></a> -->

        </form>

        <h4 id="span1">Locations</h4>

        <div class="loc">
            <div class="loc2">
                <h4 class="loc1">Technopark TVM, Kerala</h4>
                <p> Phase 1, Main Gate, Diamond Arcade, Near Technopark, Trivandrum</p>
                <a id="loc" href="tel:+918590471041"> 9745936073</a><br>
                <a id="loc" href="mailto:rejinrjr144@gmail.com"> technopark@scopeindia.org </a><br>
                <a id="loc" href=""> www.scopeindia.org </a><br>
                <a id="loc" target="_blank" href="https://maps.app.goo.gl/FrTvXXdtR4M67H4e6"> Location Route Map </a>
            </div>

            <div class="loc3">
                <h4 class="loc1">Thampanoor TVM, Kerala</h4>
                <p> TC 25/1403/3, Athens Plaza, SS Kovil Road, Thampanoor, Trivandrum, Kerala 695001</p>
                <a id="loc" href="tel:+918590471041"> 9745936073</a><br>
                <a id="loc" href="mailto:rejinrjr144@gmail.com"> info@scopeindia.org</a><br>
                <a id="loc" href=""> www.scopeindia.org</a><br>
                <a id="loc" target="_blank" href="https://maps.app.goo.gl/uu8oPeynJCS8K5uK8"> Location Route Map</a>
            </div>

            <div class="loc4">
                <h4 class="loc1">Kochi, Kerala</h4>
                <p> SCOPE INDIA, Vasanth Nagar Rd, near JLN Metro Station, Kaloor, Kochi, Kerala 682025</p>
                <a id="loc" href="tel:+918590471041"> 7592939481</a><br>
                <a id="loc" href="mailto:rejinrjr144@gmail.com"> kochi@scopeindia.org</a><br>
                <a id="loc" href=""> www.scopeindia.org</a><br>
                <a id="loc" target="_blank" href="https://maps.app.goo.gl/z5BHvtDUzdb5J8D17"> Location Route Map</a>
            </div>

            <div class="loc5">
                <h4 class="loc1">Nagercoil, Tamil Nadu</h4>
                <p> SCOPE INDIA, Near WCC College, Palace Rd, Nagercoil, Tamil Nadu 629001</p>
                <a id="loc"  href="tel:+918590471041"> 8075536185</a><br>
                <a id="loc"  href="mailto:rejinrjr144@gmail.com"> ngl@scopeindia.org</a><br>
                <a id="loc"  href=""> www.scopeindia.org</a><br>
                <a id="loc" target="_blank"  href="https://maps.app.goo.gl/sPT2hYQyhE9ubXZA6"> Location Route Map</a>
            </div>

            <div class="loc6">
                <h4 class="loc1">Nagercoil, Tamil Nadu</h4>
                <p> SCOPE INDIA, Pharma Street, 5/2 Ward 28, Distillery Road, Putheri Nagercoil (Near WCC Jn)</p>
                <a id="loc"  href="tel:+918590471041"> 8075536185</a><br>
                <a id="loc"  href="mailto:rejinrjr144@gmail.com"> ngl@scopeindia.org</a><br>
                <a id="loc"  href=""> www.scopeindia.org</a><br>
                <a id="loc" target="_blank"  href="https://maps.app.goo.gl/zFUmGSjphqYtvnze7"> Location Route Map</a>
            </div>
        </div>

    </div>
    
</body>

{% endblock %}