{% extends "base.html" %}

{% load static %}

{% block content %}

<body class="body">
    
    <div class="course1">
                
        <div class="sub">
            {% if courses.id == 1 %}

                {% for sub in subject %}

                <h5 class="course3 course4">{{ sub.sub_name }}</h5>

                {% endfor %}

        </div>
    </div>

    <div class="course1">

        <div class="sub">

                {% elif courses.id == 2 %}

                    {% for sub in python %}

                        <h5 class="course3 course4">{{ sub.sub_name }}</h5>

                    {% endfor %}

            </div>
    </div>
    
    <div class="course1">

        <div class="sub">
            {% elif courses.id == 3 %}

                {% for sub in php %}
        
                    <h5 class="course3 course4">{{ sub.sub_name }}</h5>
        
                {% endfor %}
        </div>
    </div>

    <div class="course1">

        <div class="sub">

            {% elif courses.id == 5 %}

                {% for sub in core %}
        
                    <h5 class="course3 course4">{{ sub.sub_name }}</h5>
        
                {% endfor %}
        </div>
    </div>

    <div class="course1">

        <div class="sub">

            {% elif courses.id == 6 %}

                {% for sub in mern %}
        
                    <h5 class="course3 course4">{{ sub.sub_name }}</h5>
        
                {% endfor %}
        </div>
    </div>

    <div class="course1">

        <div class="sub">
            {% elif courses.id == 7 %}

                {% for sub in mean %}
        
                    <h5 class="course3 course4">{{ sub.sub_name }}</h5>
        
                {% endfor %}
        </div>
    </div>
    <div class="course1">

        <div class="sub">

            {% elif courses.id == 8 %}

                {% for sub in flutter %}
        
                    <h5 class="course3 course4">{{ sub.sub_name }}</h5>
        
                {% endfor %}
        </div>
    </div>

    <div class="course1">

        <div class="sub">
            {% elif courses.id == 9 %}

                {% for sub in ionic %}
        
                    <h5 class="course3 course4">{{ sub.sub_name }}</h5>
        
                {% endfor %}
        </div>
    </div>

    <div class="course1">

        <div class="sub">

            {% elif courses.id == 10 %}

                {% for sub in Website %}
        
                    <h5 class="course3 course4">{{ sub.sub_name }}</h5>
        
                {% endfor %}
        </div>
    </div>

    <div class="course1">

        <div class="sub">


            {% elif courses.id == 11 %}

                {% for sub in ui_ux %}
        
                    <h5 class="course3 course4">{{ sub.sub_name }}</h5>
        
                {% endfor %}
        </div>
    </div>

    <div class="course1">

        <div class="sub">
        

            {% elif courses.id == 12 %}

                {% for sub in Software %}
        
                    <h5 class="course3 course4">{{ sub.sub_name }}</h5>
        
                {% endfor %}
        </div>
    </div>

    <div class="course1">

        <div class="sub">
        

            {% elif courses.id == 13 %}

                {% for sub in Networking %}
        
                    <h5 class="course3 course4">{{ sub.sub_name }}</h5>
        
                {% endfor %}
        </div>
    </div>

    <div class="course1">

        <div class="sub">
        

            {% elif courses.id == 14 %}

                {% for sub in aws %}
        
                    <h5 class="course3 course4">{{ sub.sub_name }}</h5>
        
                {% endfor %}
        </div>
    </div>

    <div class="course1">

        <div class="sub">
        

            {% elif courses.id == 15 %}

                {% for sub in ms %}
        
                    <h5 class="course3 course4">{{ sub.sub_name }}</h5>
        
                {% endfor %}
        </div>
    </div>

    <div class="course1">
        <div class="sub">
        

            {% elif courses.id == 16 %}

                {% for sub in rhcsa %}
        
                    <h5 class="course3 course4">{{ sub.sub_name }}</h5>
        
                {% endfor %}
        </div>
    </div>

    <div class="course1">

        <div class="sub">
        

            {% elif courses.id == 17 %}

                {% for sub in rhce %}
        
                    <h5 class="course3 course4">{{ sub.sub_name }}</h5>
        
                {% endfor %}
        </div>
    </div>

    <div class="course1">

        <div class="sub">
        

            {% elif courses.id == 18 %}

                {% for sub in devOps %}
        
                    <h5 class="course3 course4">{{ sub.sub_name }}</h5>
        
                {% endfor %}
        </div>
    </div>

    <div class="course1">

        <div class="sub">
        

            {% elif courses.id == 19 %}

                {% for sub in ccna %}
        
                    <h5 class="course3 course4">{{ sub.sub_name }}</h5>
        
                {% endfor %}
        </div>
    </div>

    <div class="course1">

        <div class="sub">

            {% elif courses.id == 20 %}

                {% for sub in data_Science %}
        
                    <h5 class="course3 course4">{{ sub.sub_name }}</h5>
        
                {% endfor %}
        </div>
    </div>
    <div class="course1">

        <div class="sub">
        

            {% elif courses.id == 21 %}

                {% for sub in data_Analytics %}
        
                    <h5 class="course3 course4">{{ sub.sub_name }}</h5>
        
                {% endfor %}
        </div>
    </div>

    <div class="course1">

        <div class="sub">
        

            {% elif courses.id == 22 %}

                {% for sub in digital_Marketing %}
        
                    <h5 class="course3 course4">{{ sub.sub_name }}</h5>
        
                {% endfor %}
        </div>
    </div>   

    <div class="course1">

        <div class="sub">
        

            {% elif courses.id == 23 %}

                {% for sub in microsoft %}
        
                    <h5 class="course3 course4">{{ sub.sub_name }}</h5>
        
                {% endfor %}
            {% endif %}
        </div>
    </div>
    
        
    

</body>

{% endblock %}